{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'more_polls/css/style.css' %}">
	<meta charset="utf-8">
	<title>Latest Questions List</title>
</head>
<body>
	{% if latest_question_list %}
		<ul>
		{% for question in latest_question_list %}
			{# hardcored mode #}
			{#<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>#}
			<li><a href="{% url 'more_polls:detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No polls are available.</p>
	{% endif %}
</body>
</html>